{
  "extends": "airbnb",
  "env": {
    "mocha": true,
    "browser": true
  },
  "rules" : {
    "jsx-a11y/anchor-is-valid" : "off",
    "no-confusing-arrow": ["error", {
      "allowParens": true
    }]
  }
}